# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# IDE / OS
.vscode/
.idea/
.DS_Store

# Datos versionados con DVC (no Git)
/data/raw/*.csv

# Artefactos locales
/mlruns/
/mlartifacts/
*.db
/results/generated/

# DVC cache/config local sensible
.dvc/cache/
.dvc/tmp/
.dvc/config.local
