# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
.env
*.docx

# IDE / OS
.vscode/
.idea/
.DS_Store

# Datos versionados con DVC (no Git)
/data/raw/*.csv

# Artefactos locales
/mlruns/
/mlartifacts/
*.db
/results/generated/
/results/predictions.csv
/models/*.joblib

# DVC cache/config local sensible
.dvc/cache/
.dvc/tmp/
.dvc/config.local
